{% extends 'base.html.twig' %}

{% block title %}Nouvelle assistante{% endblock %}

{% block body %}
    <h1 class="text-center p-5">Créer une nouvelle assistante</h1>
    <div class="container-fluid w-25">
        {{ form_start(form) }}
        <div class="row ">
            <div class="col-12">
                {{ form_row(form.Nom) }}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                {{ form_widget(form.isActive) }}
            </div>
{#            {{ form_widget(form) }}#}
            <div class="col-8 d-flex flex-row  justify-content-between">
                <button class="btn bg-primary-subtle" >{{ button_label | default('Enregistrer') }}</button>
                <a class="btn bg-info-subtle" href="{{ path('app_assistantes_index') }}">retour</a>
            </div>
        </div>


    </div>
    {{ form_end(form) }}


{% endblock %}
